@charset "UTF-8";
.content {
  width: 100%; }
  .content .con1 {
    width: 100%;
    height: 618px;
    text-align: center; }
    .content .con1 .list {
      width: 1200px;
      height: 462px;
      margin: 0 auto;
      background: url("../img/zone_bg.png") no-repeat center center; }
      .content .con1 .list .seckill {
        width: 100%;
        height: 60px; }
        .content .con1 .list .seckill > a {
          display: block;
          width: 0px;
          height: 0px;
          float: left; }
        .content .con1 .list .seckill > a:nth-child(1) {
          width: 0;
          height: 0;
          border-bottom: 60px solid #e01222;
          border-left: 60px solid transparent; }
        .content .con1 .list .seckill > a:last-child {
          width: 0;
          height: 0;
          border-top: 60px solid #e01222;
          border-right: 60px solid transparent; }
        .content .con1 .list .seckill .seckill_time {
          float: left;
          width: 55px;
          height: 60px;
          background: #e01222;
          font-size: 20px;
          font-weight: bold;
          line-height: 60px;
          text-align: center;
          color: white; }
        .content .con1 .list .seckill .setTime {
          width: 150px;
          height: 60px;
          float: left;
          align-items: start;
          background: #e01222;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          color: white; }
      .content .con1 .list .seckill_bottom {
        width: 1200px;
        height: 392px;
        font-size: 14px;
        color: #333333;
        padding-top: 12px;
        display: flex;
        justify-content: space-between;
        overflow: hidden; }
        .content .con1 .list .seckill_bottom > dl {
          float: left;
          width: 288px;
          height: 392px;
          position: relative;
          background: white; }
          .content .con1 .list .seckill_bottom > dl > dt {
            width: 100%;
            height: 340px; }
            .content .con1 .list .seckill_bottom > dl > dt > a {
              display: block;
              width: 280px;
              height: 290px;
              margin: 0 auto; }
              .content .con1 .list .seckill_bottom > dl > dt > a > img {
                width: 280px;
                height: 280px;
                margin: 0 auto;
                margin-top: 10px; }
                .content .con1 .list .seckill_bottom > dl > dt > a > img:hover {
                  margin-top: 0px;
                  transform: translate(0, 0);
                  transition: all .2s ease-in 0s; }
            .content .con1 .list .seckill_bottom > dl > dt > p {
              width: 230px;
              height: 40px;
              margin: 0 auto;
              text-align: left;
              font-size: 14px;
              color: #333; }
          .content .con1 .list .seckill_bottom > dl > dd {
            width: 100%;
            height: 50px;
            border: 1px solid #e01222; }
            .content .con1 .list .seckill_bottom > dl > dd > span {
              display: block;
              float: left;
              width: 196px;
              height: 50px; }
              .content .con1 .list .seckill_bottom > dl > dd > span > em {
                font-style: italic;
                font-size: 14px;
                color: #e01222; }
              .content .con1 .list .seckill_bottom > dl > dd > span > i {
                font-style: none;
                font-size: 28px;
                color: #e01222; }
              .content .con1 .list .seckill_bottom > dl > dd > span > b {
                font-size: 14px;
                color: #666;
                font-weight: 100;
                text-decoration: line-through; }
            .content .con1 .list .seckill_bottom > dl > dd > a {
              display: block;
              float: left;
              width: 92px;
              height: 50px;
              background: #e01222;
              color: white;
              text-align: center;
              line-height: 52px;
              font-size: 16px; }
  .content .con2 {
    width: 1200px;
    height: 1142px;
    margin: 0 auto;
    overflow: hidden; }
    .content .con2 .con2_head {
      width: 1200px;
      height: 332px;
      margin: 0 auto;
      margin-top: 20px; }
      .content .con2 .con2_head img {
        width: 100%; }
    .content .con2 .con2_body {
      width: 1200px;
      heigh: 601px; }
      .content .con2 .con2_body .new {
        float: left;
        width: 420px;
        height: 601px; }
        .content .con2 .con2_body .new img {
          width: 100% ；; }
      .content .con2 .con2_body .sport {
        float: left;
        width: 780px;
        height: 261px; }
        .content .con2 .con2_body .sport img {
          width: 100%; }
      .content .con2 .con2_body .women {
        float: left;
        width: 393px;
        height: 340px; }
        .content .con2 .con2_body .women img {
          width: 100%; }
      .content .con2 .con2_body .man {
        float: left;
        width: 383px;
        height: 340px; }
        .content .con2 .con2_body .man img {
          width: 100%; }
    .content .con2 .con2_foot {
      width: 1200px;
      height: 189px;
      clear: both; }
      .content .con2 .con2_foot ul {
        width: 1204px;
        height: 189ppx; }
        .content .con2 .con2_foot ul li {
          height: 189px;
          line-height: 189px;
          float: left; }
          .content .con2 .con2_foot ul li a {
            float: left; }
            .content .con2 .con2_foot ul li a img {
              height: 189px; }
  .content .con3 {
    width: 1200px;
    margin: 0 auto; }
    .content .con3 .con3_banner {
      width: 1200px;
      height: 383px; }
      .content .con3 .con3_banner > a > img {
        float: left;
        height: 383px; }
    .content .con3 .con3_body {
      width: 1205px;
      height: 1543px; }
      .content .con3 .con3_body img {
        float: left; }
  .content .con4 {
    width: 1200px;
    margin: 0 auto; }
    .content .con4 .con4_banner {
      width: 1200px;
      height: 311px; }
      .content .con4 .con4_banner > a > img {
        float: left;
        height: 311px; }
    .content .con4 .con4_body {
      width: 1205px;
      height: 1501px; }
      .content .con4 .con4_body img {
        float: left; }
  .content .con5 {
    width: 1200px;
    margin: 0 auto; }
    .content .con5 .con5_banner {
      width: 1200px;
      height: 383px; }
      .content .con5 .con5_banner > a > img {
        float: left;
        height: 383px; }
    .content .con5 .con5_body {
      width: 1205px;
      height: 1543px; }
      .content .con5 .con5_body img {
        float: left; }
  .content .con6 {
    width: 1200px;
    margin: 0 auto; }
    .content .con6 .con6_banner {
      width: 1200px;
      height: 364px; }
      .content .con6 .con6_banner > a > img {
        float: left;
        height: 364px; }

/*# sourceMappingURL=content.css.map */
