@charset "UTF-8";

.content{
	width:1160px;
	height:522px;
	margin:20px auto;

	.left{
		width:400px;
		height:522px;
		float:left;

		.img_show{
			width:400px;
			height:479px;

			.big_img{
				width:400px;
				height:400px;

				&>img{
					width:400px;
					height:400px;
				}
			}
			.small_img{
				width:400px;
				height:79px;
				overflow:hidden;

				&>li{
					width:100px;
					height:79px;
					float:left;

					&>a{
						display:block;
						width:100px;
						height:79px;

						&>img{
							width:100px;
							height:79px;
						}
					}
				}
			}
		}
	}
	.right{
		width:760px;
		height:522px;
		float:left;
		background:green;
	}
}